<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Securities
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <% @tabs.where(section: 'Securities').each do |t| %>
            <li><%= link_to t.title, t %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Commodities
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <% @tabs.where(section: 'Commodities').each do |t| %>
            <li><%= link_to t.title, t %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Currencies
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <% @tabs.where(section: 'Currencies').each do |t| %>
            <li><%= link_to t.title, t %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Economic Data
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <% @tabs.where(section: 'Economic Data').each do |t| %>
            <li><%= link_to t.title, t %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Sustainability Data
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">

      <div class="accordion-inner">
        <ul class="accordion-sub"> 
          <% @tabs.where(section: 'Sustainability Data').each do |t| %>
            <li><%= link_to t.title, t %></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>
</div>