<div class="new_tableau">
<h1>Add New Tableau</h1>

<%= form_for @tab do |f| %>
  <p>
    Title<br/>
    <%= f.text_field :title %>
  </p>
  <p>
    Section (Economic Data, Securities, etc)<br/>
    <%= f.text_field :section %>
  </p>
  <p>
    Commentary (Optional)<br/>
    <%= f.text_field :comment %>
  </p>
  <p>
    Paste Tableau Code<br/>
    <%= f.text_area :tableau %>
  </p>
  <p>
    <%= f.submit "Create Page" %>
  </p>
<% end %>
</div>