<div class="all-content">
  <!-- SIDEBAR -->
  <div class="nav-sidebar">
    <%= render "users/sidebar" %>
  </div>

  <!-- MAIN CONTENT -->
  <%= render "users/mainwrapper_head" %>

  <% if current_user.admin %>
    <%= link_to 'Admin Control Panel', admin_path %>
  <% end %>

  <% if @tab.comment %>
    <%= @tab.comment %><br />
  <% end %>
  <%= raw @tab.tableau %>


  <%= render "users/mainwrapper_foot" %>