<h2>Sign Up</h2>
<%= form_for @user, url: { controller: 'users', action: 'create' }, html: { method: :post } do |f| %>
<p>
 <%= f.label :first_name %>
 <%= f.text_field :first_name %>
</p>
<p>
 <%= f.label :last_name %>
 <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label 'Email Address' %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.submit 'Sign up!' %>
</p>
<% end %>
