        <div class="navbar navbar-inverse navbar-fixed-top navbg">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <%= link_to root_url do |f| %>
                    <span class="brand"><img src="/assets/globe.png" class="globe"> Capital Map</span>
                    <% end %>
                    <% if signed_in? %>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><%= link_to 'Home', root_url %></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Indices</a></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li><%= link_to current_user.first_name, current_user %></li>
                                <li><%= link_to 'Log Out', logout_path %></li>
                            </span>
                        </div>
                    <% else %>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><%= link_to 'Home', root_url %></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                            <span class="navbar-form pull-right" style="height: 30px">
                                <%= form_tag sessions_path do %>
                                    <%= text_field_tag :email, nil, class: "span2" %>
                                    <%= password_field_tag :password, nil, class: "span2" %>
                                    <%= submit_tag 'Log In', class: "btn" %>
                                <% end %>
                            </span>
                        </div><!--/.nav-collapse -->
                    <% end %>
                </div>
            </div>
        </div>