<!DOCTYPE html>
<html>
<head>
  <title>Financial Data for The Rest of Us | Capital Map</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>


</body>
</html>
